html,body,div,span,h1,h2,h3,h4,h5,h6,p,i,b,u {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 20pt;
	font-family: 'Courier', monospace;
	vertical-align: baseline;
	font-weight: 100;
}

ul {
    list-style: none;
}