html {
    scroll-behavior: smooth;
}

h1,h2 {
    text-shadow: 0.075em 0.075em #BBB;
    font-weight: bold;
}

h3 {
    border-bottom: 0.05em dashed black;
    text-shadow: 0.075em 0.075em #BBB;
}

ul.horizontal > li {
    display: inline-block;
    margin-right: 0.5em;
}

ul.vertical > li {
    margin-bottom: 0.25em;
}

nav {
    text-align: center;
}

#backtotop {
    float: right;
}

body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

section {
    background-color: #fff;
    margin-bottom: 1em;
    padding: 1em;
    min-height: 100%;
}

section.frontPage {
    min-height: 100%;
}

#profilePicture {
    text-align: center;
}

#profilePicture>img {
    box-shadow: 0 0 0.25em gray;
    width: 10em;
    margin: 0.25em;
}

table {
    width: 100%;
}

table, td, th {
    border: 0.05em solid black;
}
/*
    Columns
*/

.columns {
    display: flex;
}

.column {
    padding: 1em;
    flex: 1;
}

/*
    Skills
*/

.skills-flex {
    display: flex;
    flex-direction: row-reverse;
}

.skill {
    margin: 0.5em;
    text-align: right;
}

.skill-image {
    display: flex;
    width: 6em;
    height: 6em;
}

.skill-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 0 0 0.25em gray;
}

.skill p {
    font-style: italic;
    color: black;
    text-align: center;
}

/*
    Projects
*/

.projects {
    display: flex;
    width: 90%;
    margin: 0;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    width: 100%;

    box-shadow: 0 0 0.25em gray;
    padding: 0.25em;
}

.project-row {
    display: flex;
    flex-direction: row;

    margin: 0.1em;
}

.project-token {
    margin-right: 0.5em;
}

#project-name {
    text-shadow: 0.075em 0.075em #BBB;
    font-weight: bold;
}

#project-type {
    font-style: italic;
    color: gray;
}

#project-release {
    font-style: italic;
}

/*
    Blogposts
*/

.blogposts {
    display: flex;
    width: 90%;
    margin: 0;
    flex-direction: column;
}

.blogpost {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    width: 100%;

    box-shadow: 0 0 0.25em gray;
    padding: 0.25em;
    margin: 0.5em;
}

.blogpost div {
    margin: 0.2em;
}

.blogpost-header {
    display: flex;
}

.blogpost-title {
    text-shadow: 0.075em 0.075em #BBB; 
    font-weight: bold;    
}

.blogpost-date {
    font-style: italic;
}

/*
    Hyperlinks
*/

a.outbound {
    border: 0.05em solid black;
    box-shadow: 0.05em 0.05em 0.25em gray;
}

a.inbound {
    border: 0.05em dashed black;
    box-shadow: 0.05em 0.05em 0.25em gray;
}