html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
    text-shadow: 0.075em 0.075em gray;
}

ul.horizontal > li {
    display: inline-block;
    margin-right: 0.5em;
}

ul.vertical > li {
    margin-bottom: 0.25em;
}

nav {
    text-align: center;
}

#backtotop {
    float: right;
}

body {
    background-color: #eee;
}

section {
    background-color: #fff;
    margin-bottom: 1em;
    padding: 1em;
    min-height: 100%;
}

section.frontPage {
    min-height: 100%;
}

#profilePicture {
    text-align: center;
}

#profilePicture>img {
    width: 10em;
    padding: 0.25em;
}

/*
    Columns
*/

.columns {
    display: flex;
}

.column {
    padding: 1em;
    flex: 1;
}

#dotted {
    border: 0.1em dotted black;
    margin: 0.25em;
}

#dashed {
    border: 0.1em dashed black;
    margin: 0.25em;
}

#solid {
    border: 0.1em solid black;
    margin: 0.25em;
}

/*
    Hyperlinks
*/

a.outbound {
    border: 0.05em solid black;
}

a.inbound {
    border: 0.05em dashed black;
}