html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
    text-shadow: 1.5pt 1.5pt gray;
}

ul.horizontal > li {
    display: inline-block;
    margin-right: 10pt;
}

ul.vertical > li {
    margin-bottom: 5pt;
}

nav {
    text-align: center;
}

#backtotop {
    float: right;
}

body {
    background-color: #eee;
}

section {
    background-color: #fff;
    margin-bottom: 20pt;
    padding: 20pt;
    min-height: 100%;
}

section.frontPage {
    min-height: 100%;
}

#profilePicture {
    text-align: center;
}

#profilePicture>img {
    width: 200pt;
    padding: 5pt;
}

/*
    Columns
*/

.columns {
    display: flex;
}

.column {
    padding: 20pt;
    flex: 1;
}

#dotted {
    border: 2pt dotted black;
    margin: 5pt;
}

#dashed {
    border: 2pt dashed black;
    margin: 5pt;
}

#solid {
    border: 2pt solid black;
    margin: 5pt;
}

/*
    Hyperlinks
*/

a.outbound {
    border: 1px solid black;
}

a.inbound {
    border: 1px dashed black;
}